button.btn {
    padding: 1rem;
   width: 170px;
   border-radius: 50px;
  background: linear-gradient(90deg, #42e360, #00ccff);
  border-style: none;
  color: #fff;
}

.bottom_text {
    color: grey;
}
