.digital_banking > .bg {
    width: 100%;
    position: relative;
    z-index: -1;
}
.digital_banking {
    background-image: url(../images/image-mockups.png);
    background-repeat: no-repeat;
    background-position: 50% -177px;
    background-size: 500px;
}
.digital_banking_inner {
   padding: 2rem;
   max-width: 90%
}
